.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    padding: 10px;
    margin-top: 10rem;
    background-color: #1b3b25;
    border: 5px solid #000;
    border-radius: 10px;
  }
  .box.win {
    border-color: rgb(0, 115, 255);
  }
  .box.lose {
    border-color: rgb(255, 102, 0);
  }
  .box.tie {
    border-color: #ffffff;
    margin-left: 30px;
  }
  .box h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .box img {
    display: block;
    height: 250px;
    margin-bottom: 10px;
  }
  .box strong {
    font-size: 20px;
  }